table {
  width: 100%;
}
.spinner-container {
  position: absolute;
  height: 100px;
  width: 100px;
  top: 40%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
}

.column-20 {
  flex-basis: 20%;
}

.column-10 {
  flex-basis: 10%;
}

.column-40 {
  flex-basis: 40%;
  align-self: center;
}

.form-field-button{
  height: 60%;
  font-size: large;
}
