<div class="generic-component-wrapper" *ngIf="oauthService.hasValidAccessToken; else loggedout">
  <div class="generic-component-content container">
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">

      <mat-tab label="Patient Search">
        <div class="padding-top-lg search-container">
          <div class="search">
            <app-search-form
              [searchType]="SearchType.PATIENT_SEARCH"
              (onSearchEvent)="onSearchEvent($event)"
              (onFilterSearchResultsEvent)="onFilterSearchResults($event)"
            >
            </app-search-form>
            <app-common-search-results
              [searchType]="SearchType.PATIENT_SEARCH"
              [searchResults]="searchResults"
              [filterStr]="filterStr"
            ></app-common-search-results>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="Query Data">
        <div class="padding-top-lg search-container">
          <div>
            <app-search-history [searchHistory]="searchHistory"></app-search-history>
          </div>
          <div class="search">
            <app-search-form
              [searchType]="SearchType.QUERY_DATA"
              (onSearchEvent)="onSearchEvent($event)"
              (onFilterSearchResultsEvent)="onFilterSearchResults($event)"
            >
            </app-search-form>
            <app-common-search-results
              [searchType]="SearchType.QUERY_DATA"
              [searchResults]="searchResults"
            ></app-common-search-results>
          </div>
        </div>
      </mat-tab>

<!--      <mat-tab label="Patient Search">-->
<!--        <form style="display: flex" autocomplete="off" novalidate [formGroup]="searchForm"-->
<!--              (submit)="onSearchFormSubmit()">-->
<!--          <div class="column-40 margin-right-md margin-top-md">-->
<!--            <mat-form-field appearance="outline" class="full-width">-->
<!--              <mat-label>Search Records</mat-label>-->
<!--              <input matInput type='text' formControlName="searchQuery">-->
<!--            </mat-form-field>-->
<!--          </div>-->

<!--          <div class="column-20 margin-right-md margin-top-md">-->
<!--            <mat-form-field appearance="outline" class="full-width">-->
<!--              <mat-label>Select a Date of Birth</mat-label>-->
<!--              <input matInput [matDatepicker]="picker" formControlName="dob" class="full-width">-->
<!--              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
<!--              <mat-datepicker #picker></mat-datepicker>-->
<!--            </mat-form-field>-->
<!--          </div>-->

<!--          <div class="column-20">-->
<!--            <button mat-raised-button color="primary" type="submit" class="form-field-button margin-top-md">-->
<!--              <mat-icon>search</mat-icon>-->
<!--              Search-->
<!--            </button>-->
<!--          </div>-->

<!--          <span class="column-20 margin-top-md">-->
<!--            <mat-form-field appearance="outline" class="full-width">-->
<!--              <mat-label>Filter Search Results</mat-label>-->
<!--              <input matInput (keyup)="applyFilter($event)" #input>-->
<!--            </mat-form-field>-->
<!--          </span>-->

<!--        </form>-->


<!--        <div class="spinner-container" *ngIf="isLoading">-->
<!--          <mat-spinner [diameter]="70"></mat-spinner>-->
<!--        </div>-->
<!--        <app-common-search-results-->
<!--          [searchType]="SearchType.PATIENT_SEARCH"-->
<!--          [searchResults]="searchResults"-->
<!--          [selectedRegistrySchema]="selectedRegistrySchema"-->
<!--        ></app-common-search-results>-->
<!--&lt;!&ndash;        <app-patient-search-results [searchResults]="response" [dataFilter]="dataFilter" (onPatientSelectedEvent)="patientSelected($event)"></app-patient-search-results>&ndash;&gt;-->
<!--      </mat-tab>-->


<!--      <mat-tab label="LLM Patient Search">-->

<!--        <form autocomplete="off" [formGroup]="llmSearchForm"-->
<!--              (submit)="onSearchFormSubmit()" class="margin-top-md margin-bottom-md">-->
<!--          <div class="search-bar">-->
<!--            <div class="centered-input search-query">-->
<!--              <mat-form-field appearance="outline" class="full-width">-->
<!--                <mat-label>LLM Patient Search</mat-label>-->
<!--                <input matInput type='text' formControlName="searchQuery">-->
<!--              </mat-form-field>-->
<!--            </div>-->
<!--            <button mat-raised-button color="primary" type="submit" class="margin-left-md margin-right-md">-->
<!--              <mat-icon>search</mat-icon>-->
<!--              Search-->
<!--            </button>-->
<!--            <div class="centered-input">-->
<!--              <mat-form-field appearance="outline" class="full-width">-->
<!--                <mat-label>Filter Search Results</mat-label>-->
<!--                <input matInput (keyup)="applyFilter($event)" #input>-->
<!--              </mat-form-field>-->
<!--            </div>-->
<!--          </div>-->
<!--        </form>-->
<!--        <app-patient-search-results [searchResults]="response" [dataFilter]="dataFilter"-->
<!--                            (onPatientSelectedEvent)="patientSelected($event)"></app-patient-search-results>-->
<!--      </mat-tab>-->
<!--      <mat-tab label="LLM Population Search">-->
<!--        <div class="padding-top-lg"><app-llm-population-search></app-llm-population-search></div>-->
<!--      </mat-tab>-->

    </mat-tab-group>
  </div>


</div>

<ng-template #loggedout>
  Please login to access this application.
</ng-template>

