.mat-header-cell:first-child,.mat-cell:first-child{
  flex:20%;
}
/*.mat-header-cell:nth-child(2),.mat-cell:nth-child(2){*/
/*  flex:70%;*/
/*}*/
.mat-header-cell:last-child,.mat-cell:last-child{
  flex:80%
}
