<mat-card>

  <mat-card-header>
    <mat-card-title>Diagnosis</mat-card-title>
  </mat-card-header>

  <mat-card-content style="margin-top:20px" [style.overflow]="'auto'" [style.height.%]="matCardContentHeight">
    <button *ngIf=!isExpandAllActive style="font-size: 11px;" mat-stroked-button (click)="onExpandAll()">Expand All</button>
    <button *ngIf=isExpandAllActive style="font-size: 11px;" mat-stroked-button (click)="onCollapseAll()">Collapse All</button>
    <mat-table [dataSource]="dataSource" matSort (matSortChange)= "onSortData($event)">

      <ng-container *ngFor="let column of columns; let i = index" matColumnDef="{{ column.field }}">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ column.field }}
        </mat-header-cell>
        <mat-cell style="font-size: 11px;" *matCellDef="let row">
          <span *ngIf="column.field === 'date'">{{row[column.field] | date}}</span>
          <span *ngIf="column.field === 'action'" style="cursor: pointer; color: #3F51B5">
            <mat-icon matTooltip="Add Annotation">edit_note</mat-icon>
          </span>
          <span *ngIf="column.field === 'name' || column.field === 'condition'">{{row[column.field]}}</span>
        </mat-cell>
        <mat-cell *matCellDef="let row">
          {{row[column.field]}}
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

      <!-- Group header -->
      <ng-container matColumnDef="groupHeader">
        <mat-cell colspan="999" *matCellDef="let group" style="font-size: 11px;">
          <mat-icon *ngIf="group.expanded">expand_less</mat-icon>
          <mat-icon *ngIf="!group.expanded">expand_more</mat-icon>
          <strong>{{group[groupByColumns[group.level-1]]}} ({{group.totalCounts}})</strong>
          <span class="content-spacer"></span>
        </mat-cell>
      </ng-container>

      <mat-row *matRowDef="let row; columns: ['groupHeader']; when: isGroup;" (click)="groupHeaderClick(row)"> </mat-row>

    </mat-table>
  </mat-card-content>

  <mat-card-actions align="end">
    <button mat-raised-button color="primary">
      <mat-icon>add</mat-icon>
      Add Diagnose
    </button>
  </mat-card-actions>

</mat-card>
