<mat-card>

  <mat-card-header>
    <mat-card-title>Diagnosis</mat-card-title>
  </mat-card-header>

  <mat-card-content style="margin-top:20px" [style.overflow]="'auto'" [style.height.%]="matCardContentHeight">
    <button  *ngIf=!isExpandAllActive style="font-size: 11px;" mat-stroked-button (click)="onExpandAll(); isExpandAllActive = true;">Expand All</button>
    <button *ngIf=isExpandAllActive style="font-size: 11px;" mat-stroked-button (click)="onExpandAll(); isExpandAllActive = false;">Collapse All</button>
<!--    -->
<!--    <table>-->
<!--      <thead>-->
<!--      <tr>-->
<!--        <th>Group</th>-->
<!--        <th>Date</th>-->
<!--        <th>Condition</th>-->
<!--        <th>Note</th>-->
<!--        <th>Details</th>-->
<!--        <th></th>-->
<!--      </tr>-->
<!--      </thead>-->
<!--      <tbody>-->
<!--      <ng-container *ngFor="let diagnose of diagnosesFormatted">-->
<!--        <tr>-->
<!--          <td [attr.rowspan]="diagnose.values.length" style="font-weight: bold;  width: 20%;">{{diagnose.group}}</td>-->
<!--          <td style="font-size: 11px; width: 20%;">{{diagnose.values[0].date | date:'mediumDate'}}</td>-->
<!--          <td style="font-size: 11px;">{{diagnose.values[0].condition}}</td>-->
<!--          <td style="cursor: pointer; color: #3F51B5"><mat-icon matTooltip="Add Annotation">edit_note</mat-icon></td>-->
<!--          <td style="cursor: pointer; text-align: center; color: #3F51B5"><mat-icon matTooltip="View Details">expand</mat-icon></td>-->
<!--        </tr>-->
<!--        <ng-container *ngFor="let diagnoseData of diagnose.values; let i = index;">-->
<!--          <tr *ngIf="i!=0">-->
<!--            <td style="font-size: 11px;">{{diagnoseData.date | date:'mediumDate'}}</td>-->
<!--            <td style="font-size: 11px;">{{diagnoseData.condition}}</td>-->
<!--            <td style="cursor: pointer; color: #3F51B5"><mat-icon matTooltip="Add Annotation">edit_note</mat-icon></td>-->
<!--            <td style="cursor: pointer; text-align: center; color: #3F51B5"><mat-icon matTooltip="View Details">expand</mat-icon></td>-->
<!--          </tr>-->
<!--        </ng-container>-->
<!--      </ng-container>-->
<!--      </tbody>-->
<!--    </table>-->
    <mat-table [dataSource]="dataSource" matSort (matSortChange)= "onSortData($event)">

      <ng-container *ngFor="let column of columns; let i = index" matColumnDef="{{ column.field }}">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ column.field }}
        </mat-header-cell>
        <mat-cell style="font-size: 11px;" *matCellDef="let row">
          <span *ngIf="column.field === 'date'">{{row[column.field] | date}}</span>
          <span *ngIf="column.field === 'action'" style="cursor: pointer; color: #3F51B5">
            <mat-icon matTooltip="Add Annotation">edit_note</mat-icon>
          </span>
          <span *ngIf="column.field === 'name' || column.field === 'condition'">{{row[column.field]}}</span>
        </mat-cell>
        <mat-cell *matCellDef="let row">
          {{row[column.field]}}
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

      <!-- Group header -->
      <ng-container matColumnDef="groupHeader">
        <mat-cell colspan="999" *matCellDef="let group" style="font-size: 11px;">
          <strong>{{group[groupByColumns[group.level-1]]}} ({{group.totalCounts}})</strong>
          <span class="content-spacer"></span>
          <mat-icon *ngIf="group.expanded">expand_less</mat-icon>
          <mat-icon *ngIf="!group.expanded">expand_more</mat-icon>
        </mat-cell>
      </ng-container>

      <mat-row *matRowDef="let row; columns: ['groupHeader']; when: isGroup;" (click)="groupHeaderClick(row)"> </mat-row>

    </mat-table>
  </mat-card-content>

  <mat-card-actions align="end">
    <button mat-raised-button color="primary">
      <mat-icon>add</mat-icon>
      Add Diagnose
    </button>
  </mat-card-actions>

</mat-card>
