<mat-toolbar class="subject-header primary-light">
  <mat-toolbar-row>
    <h2>George P. Burdell</h2>
    <span style="font-size: 0.6em; margin-left: 1em" >Other case/demographic info here</span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container hasBackdrop="false">

  <mat-sidenav #resultViewerSidenav class="registry-viewer-sidenav" mode="side" position="end" disableClose closed>
    <app-side-panel></app-side-panel>
  </mat-sidenav>

  <mat-sidenav-content>
    <div style="max-width: 85%; margin: auto">

      <div style="margin: 2em 2em 2em 2em">
        <mat-slide-toggle [(ngModel)]="isDefaultViewActive" >Switch to {{ isDefaultViewActive ? "Chronological" : "Details" }} View</mat-slide-toggle>
      </div>

      <app-chronological-view
        *ngIf="isDefaultViewActive"
        [caseRecordChronologicalData]="caseRecordChronologicalData$ | async"
      >
      </app-chronological-view>

      <app-details-view *ngIf="!isDefaultViewActive"></app-details-view>

    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
