mat-card {
  width: 85%;
  height: 85%;
  margin-left:auto;
  margin-right:auto;
}

.registry-viewer-drawer {
  width: 25%;
  min-width: 200px;
  background-color: inherit;
}

mat-drawer-container {
  height: 90%;
}

.centered-content {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}


#paragraph {
  height: 100vh;
}
