<div class="container top-spacer">
  <h1>George P. Burdell</h1>
  <div style="margin-bottom: 2em">
    Demographic data here.
  </div>
  <mat-grid-list [cols]="breakpoint" rowHeight="1:1" (window:resize)="onResize($event)">

    <mat-grid-tile>
      <app-lab-results [matCardContentHeight]="matCardContentHeight" class="expanded-content"></app-lab-results>
    </mat-grid-tile>

    <mat-grid-tile>
      <app-diagnostics [matCardContentHeight]="matCardContentHeight" class="expanded-content"></app-diagnostics>
    </mat-grid-tile>

    <mat-grid-tile>
      <app-treatment [matCardContentHeight]="matCardContentHeight" class="expanded-content"></app-treatment>
    </mat-grid-tile>

    <mat-grid-tile>
      <app-other-history [matCardContentHeight]="matCardContentHeight" class="expanded-content"></app-other-history>
    </mat-grid-tile>

  </mat-grid-list>

</div>
