mat-card {
  width: 85%;
  height: 85%;
  margin-left:auto;
  margin-right:auto;
}
h1 {
  text-align: center;
}

.text-inside-grid {
  position: absolute;
  left: 10px;
  top: 20px;
}
table {
  width: 90%;
  margin: 30px auto;
  text-align: left;
}

table th {
  border-bottom:1px solid #e0e0e0;
  font-size: 11px;
}

table td {
  border-bottom:1px solid #e0e0e0;
  height: 40px;
}

.data-cell{
  font-size: 11px;
  cursor: pointer;
}

.menu-spacer{
  flex: 1 1 auto;
}

.expanded-content{
  width: 100%;
  height: 100%;
}
