mat-card {
  width: 85%;
  height: 85%;
  margin-left:auto;
  margin-right:auto;
}

table {
  width: 90%;
  margin: 30px auto;
  text-align: left;
}

table th {
  border-bottom:1px solid #e0e0e0;
  font-size: 11px;
}

table td {
  border-bottom:1px solid #e0e0e0;
  height: 40px;
}

.data-cell{
  font-size: 11px;
  cursor: pointer;
}

.registry-viewer-sidenav {
  width: 25%;
  min-width: 200px;
  height: 100%;
  background-color: inherit;
}

mat-sidenav-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.centered-content {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.mat-button-toggle {
  background-color: whitesmoke;
}

.mat-button-toggle-checked {
  color: #303f9f;
  background-color: #e8eaf6;
  border: 1px solid #7986cb;
}
