<app-demographic-data></app-demographic-data>

<mat-drawer-container hasBackdrop="false">

  <mat-drawer #resultViewerSidenav class="registry-viewer-drawer" mode="side" position="end" disableClose closed>
    <app-side-panel></app-side-panel>
  </mat-drawer>

  <mat-drawer-content>
    <ng-container *ngIf="isLoading" class="spinner-container">
      <div class="spinner">
        <mat-spinner></mat-spinner>
      </div>
    </ng-container>

    <div class="centered-content" style="margin-top: 2em; margin-bottom: 2em">

      <mat-button-toggle-group>

        <mat-button-toggle checked="isDefaultViewActive" (click)="onViewSelected(true);">
          Summary View
        </mat-button-toggle>

        <mat-button-toggle (click)="onViewSelected(false);">
          Chronological View
        </mat-button-toggle>

      </mat-button-toggle-group>
    </div>

    <div style="max-width: 85%; margin: auto">
      <app-chronological-view *ngIf="!isDefaultViewActive"></app-chronological-view>
      <app-summary-view *ngIf="isDefaultViewActive"></app-summary-view>
    </div>
  </mat-drawer-content>

</mat-drawer-container>


