@import "../../../styles.scss";

.mat-toolbar-row{
  padding: 0; color: $primary-color;
}

.column-logo {
  flex-basis: 5%;
  cursor: pointer;
}

.column-name {
  flex-basis: 10%;
  cursor: pointer;
}

.column-menu-options {
  flex-basis: 60%;
  flex-direction: column;
}


.menu-item {
  margin: 0 16px;
  cursor: pointer;
  font-size: small;
}

.menu-item:hover {
  color: $primary-dark;
}

.menu-item-selected {
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-underline-offset: 12px;
}


.column-login-out {
  flex-basis: 25%;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  padding: 16px;
}

.column-login-out:hover {
  color: $primary-dark;
}
