<button *ngIf="!isAddAnnotationInputVisible" mat-raised-button color="primary"
        (click)="isAddAnnotationInputVisible = true">
  <mat-icon matTooltip="Add annotation">edit_note</mat-icon>
  Add Annotation
</button>
<div *ngIf="isAddAnnotationInputVisible">

  <div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" [style.width.%]=100 (submit)="onSubmit()">
        <mat-label>Annotation Text</mat-label>
        <textarea rows="10" matInput placeholeder="Annotation Text" formControlName="annotation"
                  [ngClass]="{'error': submitted && form.controls['annotation'].errors}"></textarea>
      </mat-form-field>
      <div class="invalid-feedback" *ngIf="submitted && form.controls['annotation'].errors">
        Please enter annotation text
      </div>
      <div align="right">
        <button mat-raised-button (click)="onCancelAddAnnotation()">Cancel</button>
        <span style="margin-left: 1em">
      <button mat-raised-button mat-raised-button color="primary" type="submit">
        Save
      </button>
    </span>
      </div>
    </form>
  </div>

</div>

<div *ngFor="let annotation of annotationList; index as i">
  <hr/>
  <div style="margin-top: 1em; margin-bottom: 0.5em">
    {{annotation.date | date:'mediumDate'}}<span style="margin-left: 2em">author: {{annotation.updatedBy}} </span>
  </div>
  <div>{{annotation.text}}</div>
</div>
