.query-search {
  width: 100%;
}

.search-button{
  margin-left: 16px;
}


.search-bar{
  display: flex;
  >.search-input{
    flex-grow: 1;
    margin-bottom: -22px;
  }
  >.search-actions{
    display: flex;
    align-items: center;
  }
}

.search-icon{
  cursor: pointer;
}
