<div>
  <h2 mat-dialog-title>Details</h2>

  <mat-dialog-content>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
      type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
      remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
      Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
      of Lorem Ipsum.</p>
    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin
      literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney
      College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and
      going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes
      from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero,
      written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first
      line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at
      its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
      opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing
      packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will
      uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by
      accident, sometimes on purpose (injected humour and the like).</p>
    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some
      form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a
      passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All
      the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first
      true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model
      sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always
      free from repetition, injected humour, or non-characteristic words etc.</p>
    <p>In eu nisi eu eros ullamcorper ultricies vitae in elit. Nullam rhoncus nisi ut leo laoreet, quis pulvinar tellus
      eleifend. Praesent dignissim malesuada orci, id laoreet nunc vulputate vitae. Maecenas felis sapien, aliquam eu
      convallis nec, dignissim a arcu. Aliquam erat volutpat. Fusce quis augue bibendum mi tempus sagittis nec et justo.
      Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce diam neque, suscipit
      ut sodales quis, ullamcorper facilisis ipsum. Etiam non sapien vulputate, blandit quam hendrerit, condimentum mi.
      Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce pretium mattis
      arcu, in pretium ipsum semper ac. Quisque tristique ante ac lorem rhoncus, vitae auctor elit lacinia.</p>
    <p>Pellentesque elit erat, blandit sed tortor at, faucibus volutpat quam. Curabitur porttitor bibendum lectus vel
      iaculis. Pellentesque condimentum urna a lectus viverra egestas. Quisque lacinia dolor id efficitur vestibulum.
      Nullam venenatis nisi sit amet consequat laoreet. Morbi venenatis, lectus mollis venenatis gravida, urna nunc
      posuere sem, non ullamcorper nunc ante non libero. Curabitur aliquet felis quis orci sagittis tincidunt in nec
      tortor. Fusce accumsan convallis ante, in scelerisque mauris consectetur in. Nam at nulla euismod, sodales justo
      a, viverra sem. Donec vitae ante sed nisi egestas consequat ac id enim. Quisque sapien lectus, condimentum at sem
      sed, vehicula fringilla felis.</p>
    <p>Mauris id laoreet odio, in vestibulum nulla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
      ultricies magna in vulputate efficitur. Sed tristique nisl elit, non rhoncus ex pretium ac. Vivamus quis dolor
      purus. Pellentesque et dignissim augue, sed luctus elit. Praesent vitae arcu elit. Sed egestas ligula vel lacus
      pulvinar, quis posuere mauris dignissim. Nullam dapibus, nulla non sagittis tempus, neque ligula interdum sem, sit
      amet elementum nibh ex in mauris.
    </p>
    <p>Quisque vitae elit diam. Vestibulum non magna consequat, tempor diam a, sodales quam. Sed volutpat lectus nec
      purus viverra, at molestie velit commodo. Suspendisse nec diam congue, tempus orci sed, convallis enim. Phasellus
      ac ultrices libero. Suspendisse lectus felis, volutpat eget cursus at, sodales eu sem. Cras semper libero feugiat,
      sollicitudin ligula sit amet, volutpat sem.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vehicula lacus et velit viverra feugiat. Duis
      felis mi, volutpat faucibus porta quis, imperdiet eget dolor. Integer condimentum velit a euismod iaculis. Etiam
      rhoncus, massa et gravida tincidunt, metus massa varius nisi, at convallis lacus ipsum et felis. In consequat
      mattis blandit. Phasellus non enim placerat, interdum nisl vitae, sodales turpis. Etiam porttitor blandit nisl sit
      amet tristique. Vivamus vehicula, justo ut consectetur sollicitudin, libero mauris facilisis dolor, sed egestas
      ipsum nisl id arcu. Mauris lectus orci, malesuada ac finibus sed, pulvinar eget neque. Donec metus quam, hendrerit
      in est eu, malesuada rutrum ex. Sed faucibus ante dapibus augue tincidunt mollis. Orci varius natoque penatibus et
      magnis dis parturient montes, nascetur ridiculus mus. Duis laoreet egestas velit, sed pharetra lacus. Morbi
      egestas malesuada venenatis. Etiam rhoncus lectus sit amet ornare maximus. Interdum et malesuada fames ac ante
      ipsum primis in faucibus.</p>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-raised-button (click)="close()">Close</button>
  </mat-dialog-actions>

</div>
