<mat-toolbar color="primary">

  <button mat-icon-button (click)="onRouteChanged('/');" class="margin-right-md">
    <mat-icon>home</mat-icon>
  </button>

  <span class="pointer" (click)="onRouteChanged('/');">
      REGISTRY VIEWER
  </span>

  <span class="menu-spacer"></span>
  <span class="menu-text">{{registrySchema?.description}}</span>

  <span class="menu-spacer"></span>
  <mat-slide-toggle style="margin-right: 1em" (toggleChange)="onToggleDemoMode()" [checked]="isDemoModeActive" [disabled]="!isDemoModeEnabled()">
    <span class="menu-text">Demo Mode</span>
  </mat-slide-toggle>



  <app-auth0-login></app-auth0-login>

</mat-toolbar>

<router-outlet></router-outlet>


