table {
  width: 100%;
}

tr.case-record-detail-row {
  height: 0;
}

tr.case-record-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.case-record-row:not(.example-expanded-row):active {
  background: #efefef;
}

.case-record-row td {
  border-bottom-width: 0;
}

.case-record-detail {
  overflow: hidden;
  display: flex;
}

.case-record-description-attribution {
  opacity: 0.5;
}

.mat-mdc-header-row {
  display: none;
}

th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
  padding-left: 5px;
}

th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
  padding-right: 5px;
}

.flagged{
  color: #9e9e9e;
}

.mat-column-date {
  width: 100px;
  max-width: 100px;
}

.mat-icon {
  vertical-align: middle;
}
