@if (isLocatedInMainMenu) {
  <div class="user-profile-header">
    <ng-container *ngIf="oauthService.hasValidAccessToken(); else loggedOut" class="profile-wrapper">
    </ng-container>
    <ng-template #loggedOut>
      <button mat-flat-button
              (click)="oauthService.initImplicitFlow()"
              class="login-button">
        <mat-icon>login</mat-icon>
        Sign In
      </button>
    </ng-template>
    @if(oauthService.getIdentityClaims(); as user){
      @if (cdnProfilePictureUrl) {
        <img alt="User profile picture"
             [src]=cdnProfilePictureUrl
             referrerpolicy="no-referrer"
             class="profile-image"
             (error)="onImageError()"
             [matMenuTriggerFor]="userMenu"/>

      } @else {
        <img
          ngSrc='/assets/portrait_placeholder.png'
          alt="Default avatar"
          referrerpolicy="no-referrer"
          class="profile-image"
          [matMenuTriggerFor]="userMenu" height="600" width="600"/>
      }
      <mat-menu #userMenu="matMenu" style="width: 250px;">
        <div mat-menu-item>
          <div class="user-card">
            @if (cdnProfilePictureUrl) {
              <img alt="User profile picture"
                   [src]=cdnProfilePictureUrl
                   referrerpolicy="no-referrer"
                   class="profile-image"
                   (error)="onImageError()"/>

            } @else {
              <img
                src='/assets/portrait_placeholder.png'
                alt="Default avatar"
                referrerpolicy="no-referrer"
                class="profile-image"/>
            }
            <div class="details">
              <div class="name">{{ user?.['name'] }}</div>
              <div class="email">{{ user?.['email'] }}</div>
            </div>
          </div>
        </div>
        <mat-divider></mat-divider>
        <button mat-menu-item
                (click)="oauthService.logOut()">
          <mat-icon>logout</mat-icon>
          Sign Out
        </button>
      </mat-menu>
    }
  </div>
} @else {
  <div class="centered-content">
    <mat-card class="registry-card">
      <mat-card-header>
        <mat-card-title>
          Sign In Header
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        Temp content
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button (click)="oauthService.initImplicitFlow()">
          <mat-icon>login</mat-icon>
          Sign In
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
}

