table {
  width: 100%;
}

.flagged{
  color: #9e9e9e;
}

.mat-column-question {
  padding-right: 1em;
}

.mat-column-date {
  padding-right: 16px;
  white-space: nowrap;
}

.selected-row-background {
  background-color: whitesmoke;
}
