<div>
  <span>Selected Categories: </span>
    <span *ngFor="let category of categoryList" style="margin: 1em 1em 1em 1em">
      <mat-checkbox (change)="onCategorySelected()">{{category}}</mat-checkbox>
    </span>
</div>
<mat-multi-sort-table-settings [tableData]="table" [closeDialogOnChoice]="false">
  <button mat-stroked-button>
    Select columns:
    <mat-icon>menu</mat-icon>
  </button>
  <!-- Optional custom content for the sort indicator chip (here column name with icons)  -->
  <ng-template #sortIndicator let-direction='direction' let-columnName='columnName'>
    {{columnName}}
    <mat-icon *ngIf="direction">{{direction === 'asc' ? 'arrow_upward' : 'arrow_downward'}}</mat-icon>
  </ng-template>
</mat-multi-sort-table-settings>

<table mat-table [dataSource]="table.dataSource" matMultiSort (matSortChange)="table.onSortEvent()">

  <ng-container matColumnDef="index">
    <th mat-header-cell *matHeaderCellDef> # </th>
    <td mat-cell *matCellDef="let row"> {{row.index}} </td>
  </ng-container>

  <ng-container matColumnDef="section">
    <th mat-header-cell *matHeaderCellDef mat-multi-sort-header="section"> Section </th>
    <td mat-cell *matCellDef="let row"> {{row.section}} </td>
  </ng-container>

  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef mat-multi-sort-header="category"> Category </th>
    <td mat-cell *matCellDef="let row"> {{row.category}} </td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef mat-multi-sort-header="date"> Date </th>
    <td mat-cell *matCellDef="let row"> {{row.date | date}} </td>
  </ng-container>

  <ng-container matColumnDef="value">
    <th mat-header-cell *matHeaderCellDef mat-multi-sort-header="value"> Value </th>
    <td mat-cell *matCellDef="let row"> {{row.value}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="table.displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: table.displayedColumns;" (click)="onSelectRow(row)"
      style="cursor:pointer;"
      [ngClass]="{'selected-row-background': row.index === selectedRow?.index}"
  >
  </tr>
</table>
