.history-container{
  margin-right: 8px;
  height: calc(100vh - 180px);
  border: 1px solid rgba(125, 125, 125, .5);;
  border-radius: 4px;
  background-color: whitesmoke;
  >.expanded {
    width: 24em;
    margin: 0 16px;
    >.line-item {
      margin: 8px 16px;
    }
  }
  >.collapsed{
    width: 2em;
    display: flex;
    flex-direction: column;
    margin: 16px;
    height: 100%;
    >.text{
      transform: rotate(-90deg);
      white-space: nowrap;
      align-items: center;
      display: flex;
      justify-content: center;
      flex: 1;
      font-size: larger;
    }
  }
}


.history-title{
  display: flex;
  justify-content: space-between;
  margin: 16px;
  font-size: larger;
}

.icon-button{
  cursor: pointer;
}

.row {
  display: flex;
  margin: 8px 0;
  align-items: center;
  font-size: smaller;
  justify-content: flex-end;
}

.small-icon {
  transform: scale(0.7);
}

.has-response{
  cursor: pointer;
}

.has-response:hover{
  font-weight: bold;
}

.no-response{
  opacity: 0.6
}
