.flex-row {
  display: flex;
  align-items: flex-start;
  margin-bottom: 4px;
}

.flex-cell {
  flex-basis: 0;
}

.flex-cell:first-child {
  flex-grow: 1;
}

.flex-cell:last-child {
  flex-grow: 2;
}

.date {
  font-size: 0.9em;
  font-style: italic;
  color: #A0A0A0;
}

.relative-container {
  position: relative; /* Establish a reference for absolute positioning */
  max-width: 30%;
  margin: 8px 24px;
}

.floating-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  padding: 8px;
  z-index: 1000;
  color: black;
}

.floating-menu .flex-row {
  display: flex;
  align-items: flex-start;
  margin-bottom: 4px;
}

.floating-menu .flex-cell {
  flex-basis: 0;
  min-width: 100px;
}

.floating-menu .flex-cell:first-child {
  flex-grow: 1;
}

.floating-menu .flex-cell:last-child {
  flex-grow: 2;
}

.floating-menu .date {
  font-size: 0.9em;
  font-style: italic;
  color: #A0A0A0;
}

.description{
  display: flex;
  justify-content: space-between;
}

.icon {
  cursor: pointer;
}
