<form [formGroup]="searchForm" (submit)="onSearch()">
  @if(searchType == searchTypeEnum.PATIENT_SEARCH){
    <mat-label class="margin-left-sm">Search Type: </mat-label>
    <mat-radio-group aria-label="Select an option" class="margin-right-md" formControlName="apiOptions">
      @for (api of Object.values(apiOptionsEnum); track api) {
        <mat-radio-button class="margin-right-md" [value]="api">{{api}}</mat-radio-button>
      }
    </mat-radio-group>
  }
  <div class="search-bar">
    <div class="centered-input search-query">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>{{ searchType == searchTypeEnum.POPULATION_SEARCH?  'Population': 'Search' }} Query</mat-label>
        <input matInput type="text" formControlName="query">
        @if(searchType == searchTypeEnum.POPULATION_SEARCH){
          <button type="button" matSuffix mat-icon-button aria-label="Clear Search Query" (click)="onClear()">
            <mat-icon matTooltip="Clear Search Query" matSuffix>cancel</mat-icon>
          </button>
        }
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary" type="submit" class="margin-left-md margin-right-md">
      <mat-icon>search</mat-icon>
      Search
    </button>
    @if(searchType == searchTypeEnum.PATIENT_SEARCH){
      <div class="centered-input">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Filter Search Results</mat-label>
          <input matInput type='text' formControlName="filter">
        </mat-form-field>
      </div>
    }
  </div>
</form>
