<mat-toolbar-row class="tool-bars primary-lighter">
  <div class="container">
    <div class="item">
      <div class="row">
        <div class="cell right-align">Subject Name:</div>
        <div class="cell"><input type="text" value="{{demographicsData?.givenName}} {{demographicsData?.lastName}}" readonly></div>
      </div>
      <div class="row">
        <div class="cell right-align">Status:</div>
        <div class="cell"><input type="text" value="{{demographicsData?.status}}" readonly></div>
      </div>
    </div>
    <div class="item">
      <div class="row">
        <div class="cell right-align">DOB:</div>
        <div class="cell"><input type="text" value="{{demographicsData?.dob | date}}" readonly></div>
      </div>
      <div class="row">
        <div class="cell right-align">Gender:</div>
        <div class="cell"><input type="text" value="{{demographicsData?.gender}}" readonly></div>
      </div>
    </div>
    <div class="item">
      <div class="row">
        <div class="cell right-align">Address Line 1:</div>
        <div class="cell"><input type="text" value="{{demographicsData?.city}} {{demographicsData?.state}}" readonly></div>
      </div>
      <div class="row">
        <div class="cell right-align">Line 2:</div>
        <div class="cell"><input type="text" value="{{demographicsData?.zip}}" readonly></div>
      </div>
    </div>
    <div class="item app-demo" *ngIf="isDemoModeActive"><app-demo-mode></app-demo-mode></div>
  </div>
</mat-toolbar-row>
