<mat-toolbar-row style="align-items: flex-start !important;">
  <div style="margin-top: 0.8em;">{{demographicsData?.givenName}} {{demographicsData?.lastName}}</div>
  <div class="demographics">
    <div>Dob: {{demographicsData?.dob | date}} </div>
    <div>Gender: {{demographicsData?.gender}}</div>
  </div>

  <div class="demographics">
    Status: {{demographicsData?.status}}
  </div>

  <div class="demographics">
    <div *ngIf="demographicsData?.phone"> {{demographicsData?.phone}} </div>
    <div> {{demographicsData?.street}} </div>
    <div> {{demographicsData?.state}} <span *ngIf="demographicsData?.zip">,  {{demographicsData?.zip}}</span></div>
  </div>
</mat-toolbar-row>
